html, body {
    width:100%;
}
#option-container {
    width:95%;
    margin: 0 auto;
}
#option-container > div {
    margin: 0 auto;
    padding:20px;
}
#customQueryBtn {
    float:right;
}
.optionButton {
    border:none;
    outline:none;
    padding:5px;
    margin:10px;
    font-size:1.25em;
}
.optionButton > i {
    padding-right:5px;
}
.optionButton:focus {
    outline:none;
}
.optionButtonActive {
    border-bottom:3px solid #00a8ff;
}
.optionButtonInactive {
    border-bottom:3px solid transparent;
}
.optionButtonInactive:hover {
    border-bottom:3px solid #00a8ff;
    opacity:75%;
}

#queryOptionList > div {
    display : inline-block;
    padding:5px 10px;
    border-radius:5px;
    margin: 0px 5px 5px 5px;
}

#rcorners {
  border-radius: 15px 50px 30px;
  background: #82CAFA;
  padding: 20px; 
  width: 1000px;
  height: 150px;  
}

#rcornersT {
  border-radius: 15px 50px 30px 5px;
  background: #82CAFA;
  padding: 10px; 
  width: 10px;
  height: 10px;  
}

.queryResultTitle{
    cursor:pointer;

}

.Text{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #82CAFA;
    padding: 16px;
}

.queryResultTitle{
    border-radius: 3px;
    border-top:3px solid #82CAFA;
}

.optionListRemoveIcon{
    cursor: pointer;
}

.saveButton{
    color: #82CAFA;
}

.conceptBar{
    border-top: 1px solid #82CAFA;
    border-bottom: 1px solid #82CAFA;
    margin: 0px 0px;
}

.conceptBadge{
    cursor: pointer;
}

#sidebarButton{
    padding: 2px;
    border-left: 1px solid #007bff;
}

#sidebar {
    display: inline-flex;
    height: 100%;
    width: auto;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    overflow-x: hidden;
    
    transition: 0.5s ease-out;
    color: #000;
    background-color: white;
    
    overflow: hidden;
}

#sidebar h2{
    white-space: nowrap;
}

#sidebar #sidebarContent{
    display: none;
    border-left: 1px solid #007bff;
    padding: 2px;
    max-width: 400px;
}

@media (max-width: 576px) { 
    #sidebarContent{
        width: 100%;
    }
 }

.historyEntry{
    border: width border-style color;
    background-color: #82CAFA;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
    width: 100%;
    margin: 3px;
}

#sidebar #sidebarContent #searchHistory .optionListItem{
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    width: auto;
    display : inline-flex;
}
